.line-height-1 {
	line-height : 1rem;
}


.line-height-2 {
	line-height : 2rem;
}


.line-height-3 {
	line-height : 3rem;
}


.line-height-4 {
	line-height : 4rem;
}


.line-height-5 {
	line-height : 5rem;
}