<template name="actionButton">
    <span {{groupAttributes}}>
		{{#if sound}}
        {{> soundbutton tts=tts outline=true sm=sm lg=lg type=type active=active class=sndBtnClass }}
		{{/if}}
        <button {{attributes}}>
			{{#if leftIcon}}<i class="fas fa fa-fw fa-{{icon}} {{iconClass}}"></i>{{/if}}
            {{#if label}}<span class="lea-text">{{label}}</span>{{/if}}
			{{> Template.contentBlock ..}}
			{{#if rightIcon}}<i class="fas fa fa-fw fa-{{icon}} ml-1 {{iconClass}}"></i>{{/if}}
        </button>
    </span>
</template>